.product {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* max-width: 100%; */
  background: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  z-index: 1;
}
.product__title {
  width: 100%;
  font-size: 14px;
  font-weight: 450;
  margin-bottom: 0;
}
.product__price {
  width: 100%;
}
.product__price > span {
  font-weight: 450;
}
.product__rating {
  display: flex;
  width: 100%;
}
.product__image {
  max-width: 200px;
  min-width: 100px;
  /* height: 150px; */
  object-fit: contain;
}
.product__btn {
  padding: 5px 40px;
  color: #000;
  background: linear-gradient(#faecc8, #f0c14c);
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  margin-top: 10px;
  cursor: pointer;
}
.product__btn:hover {
  background: linear-gradient(#f1d68f, #f0c14c);
  /* background: #f0c14c; */
}
@media screen and (max-width: 500px) {
  .product {
    padding: 10px;
    margin: 5px;
  }
  .product__title {
    font-size: 13px;
  }
  .product__image {
    min-width: 100px;
    max-width: 100px;
  }
}
